.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(10, 10, 10) 0%, rgba(34,193,195,1) 100%);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.header-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(72, 54, 97, 0.8) 100%);
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
    text-shadow:
        1px 1px 0 #000,  /* Black border shadow */
       -1px -1px 0 #000, /* Black border shadow */
        1px -1px 0 #000, /* Black border shadow */
       -1px 1px 0 #000; /* Black border shadow */
    margin: 0 10px;
}

.header-divider {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    margin: 0 15px;
    margin-left: 25px;
    
}
